@model ChefPanel.ViewModels.AdminProfileVM;

<style>
    .toggle-password {
        top: 40px;
        right: 20px;
    }

    .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
        color: #010C80 !important;
        background-color: #fff;
        border-color: #dee2e6 #dee2e6 #fff;
    }


    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        color: #5e5e60;
        border-bottom: 3px solid #5e5e60;
    }

    .nav-tabs .nav-link {
        margin-bottom: 0px;
        border: 0px;
    }

        .nav-tabs .nav-link.active {
            border-bottom: 2px solid #010C80 !important;
        }

    .nav-tabs .nav-item {
        position: relative;
    }

    .nav-link {
        color: black;
    }

        .nav-link:hover {
            color: #5e5e60c2;
            text-decoration: none;
        }

    .btn-Mytheme {
        color: #fff;
        background-color: #010C80;
        border-color: #707070;
    }

    .btn:hover {
        color: #010a66;
        text-decoration: none;
        color: white;
    }

    .form-control {
        display: block;
        width: 100%;
        height: 48px;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #F7F8FC;
        background-clip: padding-box;
        border: 1px solid #ECECEC;
        border-radius: 10px;
        box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .style2 {
        height: 42px;
        width: 156px;
        font-size: 13px;
        padding: 12px;
        font-family: 'Poppins-Regular';
        margin-right: auto;
        border-radius: 20px;
    }

    .vertical-line-MyAccount {
        border-left: 2px solid #77D4FC;
        height: 17px;
        position: absolute;
        left: 17%;
        top: 70px;
        transform: translateX(-50%);
    }
</style>

<div class="content pt-4">
    <div class="container-fluid">
        <h3>
            <span class="vertical-line mr-2">
                &nbsp; My Account
            </span>
        </h3>
        <div class="card" style="width:80%;">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3 ">
                        <form class="author-box-center" id="uploadPhoto">
                            <p>
                                <input type="file" accept="image/*" name="imageFile" id="file" onchange="loadFile(event)" class="d-none" />
                            </p>
                            <p class="text-center mb-0">
                                <label for="file" class="cursor-pointer">
                                    <span style="border-radius: 50%; margin-left: 108px; position: absolute; width: 30px; height: 30px; margin-top: 105px;">
                                        <img id="iconimage" class="img-responsive thumbnail shadow" src="~/content/dist/img/camera-icon.png" width="28" style="border-radius:30%; background:white; padding:3px;" onclick="document.getElementById(iconimage)" />
                                    </span>
                                    <img style="object-fit: cover;" id="output" src="@Model?.PictureUrl" class="rounded-circle shadow-sm" width="140" height="140" />
                                    <span id="percent" style="display:none;"></span>
                                </label>
                            </p>

                            <p class="text-center">

                            </p>
                        </form>
                        <div>
                            <p style="text-align: center; font-size: 19px;font-family: 'PoppinsFontmedium';font-weight: 700;">@Model?.FullName</p>
                        </div>


                    </div>
                    <div class="col-md-9 ">
                        <div class="padding-20">

                            <ul class="nav nav-tabs" id="myTab2" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" style="font-family: 'PoppinsFontmedium'; " onclick="showbankdetails(this)" id="home-tab1" data-toggle="tab" href="#about1" role="tab"
                                       aria-selected="true">Basic Detail</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" style="font-family: 'PoppinsFontmedium'; " id="profile-tab2" data-toggle="tab" href="#settings" role="tab"
                                       aria-selected="false">Change Password</a>
                                </li>

                            </ul>
                            <div class="tab-content tab-bordered" id="myTab3Content">
                                <div class="tab-pane fade active show" id="about1" role="tabpanel" aria-labelledby="home-tab1">
                                    <div class="row mt-4">
                                        <div class="col-md-6 mb-2">
                                            <label for="Name">Name</label>
                                            <input type="text" title="Name" class="form-control" maxlength="40" name="FullName" id="fullname" value="@(!string.IsNullOrEmpty(Model?.FullName) ? Model.FullName : "")" placeholder="Rose" required>
                                            <div id="errorMessage" style="color:red;"></div>
                                        </div>
                                        <div class="col-md-6 mb-2 d-none">
                                            <label for="Last Name"> Last Name</label>
                                            <input type="text" title="Last Name" class="form-control" maxlength="15" name="FullName" id="lastname" value="@(!string.IsNullOrEmpty(Model?.FullName) ? Model.FullName.Split(" ").LastOrDefault() : "")" placeholder="Galler" required>
                                            <div id="lasterrorMessage" style="color:red;"></div>
                                        </div>
                                        <div class="col-md-6 mb-2">
                                            <label for="Email" style="">Email</label>
                                            <input type="email" title="Email" class="form-control" name="Email" id="email" value="@Model?.Email" placeholder="Email" disabled>
                                        </div>


                                    </div>
                                    <div class="row" style="margin-top : 20px;">

                                        <div class="col-md-6 mb-2">
                                            <label for="PhoneNumber" style="">Phone Number</label>
                                            <input type="text" title="Phone Number" class="form-control" maxlength="30" name="PhoneNumber" id="phoneNumber" value="@Model?.PhoneNumber" placeholder="+92 000 000 " required>

                                        </div>
                                        <div class="col-md-6 mb-2">
                                        </div>

                                    </div>
                                    <div class="row" style="">

                                        <div class="col-12 mt-2">

                                            <a id="btn_profile" onclick="updateProfileInfo()" class="btn  btn-Mytheme style2 float-right">Edit Profile</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="profile-tab2">
                                    <div class="row mt-4">
                                        <div class="col-md-6 mb-2">
                                            <label for="New Password"></label>
                                            <input type="password" class="form-control" name="NewPassword" id="new_password"
                                                   placeholder="New Password" required autocomplete="new-password">
                                            <i toggle="#new_password" class="fa fa-fw fa-eye toggle-password position-absolute field-icon"></i>
                                        </div>
                                        <div class="col-md-6 mb-2">
                                            <label for="Confirm Password"></label>
                                            <input type="password" class="form-control" name="ConfirmPassword" id="confirm_password"
                                                   placeholder="Confirm Password" required>
                                            <i toggle="#confirm_password" class="fa fa-fw fa-eye toggle-password position-absolute field-icon"></i>
                                        </div>
                                        <br />
                                        <div class="col-12 mt-2">
                                            <a id="btn_password" class="btn btn- btn-Mytheme style2 float-right" onclick="resetPassword()">Update</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#firstname').on('input', function () {
            const inputvar = $(this).val();
            const errorvar = $('#errorMessage');

            if (!/^[A-Za-z\s]*$/.test(inputvar)) {
                errorvar.text("Please enter only alphabets! ");
            }
            else {
                errorvar.text("");
            }
        });

        $('#lastname').on('input', function () {
            const inputvar = $(this).val();
            const errorvar = $('#lasterrorMessage');

            if (!/^[A-Za-z\s]*$/.test(inputvar)) {
                errorvar.text("Please enter only alphabets! ");
            }
            else {
                errorvar.text("");
            }
        });
    });

    //load file effect
    function loadFile(event) {
        var output = document.getElementById('output');
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function () {
            URL.revokeObjectURL(output.src) // free memory
        }
        uploadFile();
    };

    function uploadFile() {
        loaderDiv.innerHTML = '<div class="loading">Loading&#8230;</div>';

        var icon = $('#file')[0].files[0];
        var formData = new FormData();

        formData.append("file", icon);
        console.log(formData);
        $.ajax({
            type: "POST",
            url: "/Accounts/UpdateProfilePicture",
            dataType: "json",
            contentType: false,
            processData: false,
            data: formData,
            success: function (data) {
                loaderDiv.innerHTML = '';
                Toast.fire({ icon: 'success', title: 'Profile picture updated' });
                location.reload();
            },
            error: function (error) {
                loaderDiv.innerHTML = '';
                toastr.error("Error", error.message);
                return error;
            },
        });
    }

    function updateProfileInfo() {
        var executeHttpRequest = true;
        var firstName = $("#fullname").val();
        //var lastName = $("#lastname").val();
        var fullName = firstName;
        var email = $("#email").val();
        var phone = $("#phoneNumber").val();
        //regex
        let phoneRegex = /[A-Za-z]/;
        //check field name
        if (CheckNullUndefined(fullName.trim())) {
            Toast.fire({ icon: 'warning', title: 'Name is Required' });
            executeHttpRequest = false;
        }
        else if (CheckNullUndefined(phone)) {
            Toast.fire({ icon: 'warning', title: 'Phone is Required' });
            executeHttpRequest = false;
        }
        else if (phone.match(phoneRegex)) {
            Toast.fire({ icon: 'warning', title: 'Phone number is not valid' });
            executeHttpRequest = false;
        }

        if (executeHttpRequest == true) {

            loadHttpRequest("POST", '/Accounts/UpdateProfile?fullName=' + fullName + '&phone=' + phone, updateProfileHandler);
        }
    }

    function updateProfileHandler(evt) {
        Swal.fire({
            title: 'Profile updated successfully',
            imageUrl: '/content/dist/img/SwalSuccess.png',
            imageAlt: 'Success Icon',
            timer: 1500,
            showCancelButton: false,
            showConfirmButton: false
        }).then(function () {
            location.reload();
        })
    }

    function updatePasswordHandler(evt) {
        $("#new_password").val("");
        $("#confirm_password").val("");
        Swal.fire({
            title: 'Password changed successfully',
            imageUrl: '/content/dist/img/SwalSuccess.png',
            imageAlt: 'Success Icon',
            timer: 1500,
            showCancelButton: false,
            showConfirmButton: false
        }).then(function () {
            location.reload();
        })
    }

    function resetPassword() {
        var password = $('#new_password').val();
        var confirmPassword = $('#confirm_password').val();
        var email = $("#email").val();

        var isPasswordValid = true;
        var lowerCaseLetters = /[a-z]/g;
        var upperCaseLetters = /[A-Z]/g;
        var numbers = /[0-9]/g;
        var nonAlphaNumaric = /[^a-zA-Z0-9]/g;
        if (password.length <= 5) {
            toastr.error('Password must be atleast 6 charactors long');
            isPasswordValid = false;
        }
        else if (!password.match(lowerCaseLetters)) {
            toastr.error('Password must contail atleast 1 lowercase letter');
            isPasswordValid = false;
        }
        else if (!password.match(upperCaseLetters)) {
            toastr.error('Password must contain atleast 1 upper letter');
            isPasswordValid = false;
        }
        else if (!password.match(numbers)) {
            toastr.error('Password must contain atleast 1 number');
            isPasswordValid = false;
        }
        else if (!password.match(nonAlphaNumaric)) {
            toastr.error('Password must contain atleast 1 non alphanumaric charactor');
            isPasswordValid = false;
        }
        else if (password.trim() != confirmPassword.trim()) {
            toastr.error('New password and confirm password must match');
            isPasswordValid = false;
        }

        if (isPasswordValid) {
            //var data = {};
            //data.password = password;
            loadHttpRequest("POST", "/Accounts/ResetPassword?email=" + email + "&password=" + password,
                updatePasswordHandler);
        }
    }

    $(".toggle-password").on('click', function () {
        $(this).toggleClass("fa-eye fa-eye-slash");
        var input = $($(this).attr("toggle"));
        if (input.attr("type") == "password") {
            input.attr("type", "text");
        } else {
            input.attr("type", "password");
        }
    });
</script>
