@model AdminPanel.ViewModels.LoginVM;
@{
    Layout = null;
}

<title>Admin Panel | Log in</title>
<head>
    <script src="~/adminLTE/plugins/jquery/jquery.js"></script>
    <script src="~/adminLTE/plugins/bootstrap/js/bootstrap.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1"> @*for mobile responsiveness necessary*@
    <!-- Favicon title -->

    <link rel="shortcut icon" type="image/x-icon" href="~/images/cattering.png">


    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/adminLTE/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->

    <link rel="stylesheet" href="~/adminLTE/dist/css/adminlte.css">

    <!-- site Custom css-->
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/adminLTE/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.css">
    <link rel="stylesheet" href="~/adminLTE/plugins/toastr/toastr.css">
</head>
<style>
      .cross {
            cursor: pointer;
            border-radius: 20px;
            border: 2px solid #1A1A1A;
            padding: 1px 6px !important;
            margin-top: -14px !important;
            margin-right: 0px !important;
            font-weight: bold !important;
            float: right;
      }

    .center-content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%; /* Adjust as needed */
    }

    .login-msg {
        margin: 0;
        padding: 0 20px 20px;
        text-align: center;
        font-family: PoppinsFont;
        font-size: 14px;
        color: #8692A4;
    }

    .login-logo {
        font-size: 2.1rem;
        font-weight: 300;
        margin-bottom: 0.9rem;
        text-align: center;
    }

    .card {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid rgba(0,0,0,.125);
        border-radius: 0.25rem;
    }

    .cardfx {
        /*  background-color: #F3F3F3; */
        border-radius: 20px;
        margin: auto;
        justify-content: center;
        align-items: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjust the shadow values as needed */
    }


    .form-group {
        margin-bottom: 1rem;
    }



    .margin {
        padding-top: 6px;
        margin-top: 19px;
        margin-left: 15px;
        margin-right: 20px;
        border-radius: 10px;
    }


    .btn-theme2 {
        color: #fff;
        border-color: #707070;
        text-decoration: none;
        background-color: #010C80;
    }

        .btn-theme2:hover {
            color: #fff;
        }

    .back-arrow {
        position: absolute;
        left: 10px; /* Adjust the left position as needed */
        top: 10px; /* Adjust the top position as needed */
        cursor: pointer; /* Add cursor style to indicate interactivity */
    }

    .forget {
        font-weight: 900;
    }

    body {
        min-height: auto;
        background-color: #EBEBEB !important;
    }

    .card {
        /*box-shadow: 0 0 0px rgba(0,0,0,.0), 0 0 0 rgba(0,0,0,.0);*/
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjust the shadow values as needed */

        margin-bottom: 1rem;
    }

    .shadow {
        box-shadow: 0 0 0px !important;
        border-color: transparent;
    }

    .toggle-password {
        top: 4px;
        right: 4px;
    }
    /* Reset some default styles */
    body, html {
        margin: 0;
        padding: 0;
        height: 100%;
    }

    /*  Style for the image container  */

    .image-container {
        transform: rotate(270deg);
        left: -15% !important;
        top: 211px !important;
        width: 37%;
        position: absolute;
    }

    .parent {
        position: relative; /* Set the parent as a positioned element */
    }

    .child {
        position: absolute; /* Set the child as an absolutely positioned element */
        top: 36px;
        left: 93%; /* Position the left edge of the child 50% from the left of its containing block (the parent) */
        transform: translate(-50%, -50%); /* Center the child using the transform property */
        /* background-color: #f00;   */
        padding: 10px;
    }

    .hr1 {
        position: absolute;
        width: 149px;
        top: 50px;
        left: 361px;
        font-weight: 500;
        transform: translate(-50%, -50%);
        padding: 10px;
    }


    .hr2 {
        position: absolute;
        width: 149px;
        top: 40px;
        /* left: -26%; */
        right: 103%;
        font-weight: 500;
        /* transform: translate(-50%, -50%); */
        padding: 10px;
    }

    .btnbutton {
        width: 73%;
        border-radius: 30px;
        height: 100%;
        padding-top: 14px;
        font-family: 'PoppinsFontmedium';
        font-size: 14px;
        padding-left: 3px;
    }

    .warrensImg {
        margin-top: 22px;
        height: 35px;
        width: 295px;
        /*margin-left: 10px*/
    }

    .welcome {
        font-size: 25px;
        margin-top: 40px;
        color: #262733;
        font-weight: 600;
        font-family: PoppinsFontmedium;
    }

    .catering {
        color: deepskyblue;
        font-size: 30px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    .warren {
        color: #010C80;
        font-size: 30px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    .imgWidth {
        width: 100%;
    }

    .pasword {
        height: 46px;
        border-radius: 10px;
        background-color: #F9F9FB;
    }

    .imgHide {
        display: block; /* or whatever your default display property is */
    }

    .imgMargin {
        margin-top: 40px;
    }
    /* Media query to hide the div on screens with a minimum width of 768px */
    @@media (max-width: 767px) {
        .imgHide {
            display: none;
        }
    }

    @@media (min-width: 576px) {
        .imgWidth {
            width: 234px;
        }
    }



    /* Media queries for smaller screens */
    @@media (max-width: 768px) {
        .hr1 {
            left: 50%; /* Adjust as needed */
        }

        .hr2 {
            left: -72%; /* Adjust as needed */
        }
    }

    body {
        overflow: hidden;
    }

    .labelStyle {
        font-family: PoppinsFontmedium !important;
        font-size: 10px !important;
        line-height: 0.5;
    }

    .borderRadius {
        height: 46px;
        border-radius: 10px 10px 10px 10px !important;
        border: 0.5px solid #efefe4;
        background-color: #F9F9FB;
        font-size: 14px !important;
    }

    .checkBoxLable {
        font-size: 10px !important;
        color: #A9B6C9;
        margin-bottom: 0px;
        margin-left: 7px !important;
        margin-top:2px;
    }

    .forgotPassword {
        cursor: pointer;
        float: right;
        font-family: PoppinsFontmedium;
        font-weight: lighter;
        font-size: 12px;
    }

    .imgageSpan {
        padding: 26px 12px 13px 13px;
        border-radius: 100px;
        background-color: #ECF9FF;
    }

    .modal.custom .modal-dialog-forgotPassword {
        width: 80%;
        bottom: 40px;
        right: 40px;
        margin: 40px;
        left: 40px;
    }

     .forget {
     font-weight: 900;
 }

    input[type=checkbox]#checkbox1:checked + label::before {
        content: "";
        display: block;
        position: absolute;
        text-align: center;
        height: 17px;
        width: 17px;
        left: 8px;
        top: 0px;
        background-color: #77D4FC;
        color: #fff;
        font-family: "Montserrat";
        border-radius: 4px;
        border: 1px solid rgb(150 150 150 / 30%);
    }

    input[type=checkbox]#checkbox1:checked + label::after {
        content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" fill="white" viewBox="0 0 24 24"><path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/></svg>');
        display: block;
        position: absolute;
        left: 11px;
        top: 3px;
    }

    input[type='checkbox']#checkbox1 {
        accent-color: #fff;
        height: 16px;
        width: 17px;
    }

    @@media(max-width:339px){
        #checkbox1{
            margin-top:-14px !important;
        }
    }
      
   /*  @@media(max-width:338px) {
        .remember {
            margin-left: 0px !important;
        }
    } */
    .inputFieldPadding {
        padding-left: 6px;
    }

/*    .form-check {
        position: relative;
    }*/
    .swal2-popup.swal2-toast .swal2-title {
        margin: 0;
        color: #6c757d;
        top: 9px;
    }

    .welcometext{
        font-family: PoppinsFont !important;
        color: #A9B6C9 !important;
        font-size: 13px !important;
    
    
    }

</style>
<body class="bg-light">

    <div class="container d-flex align-items-center justify-content-center vh-100">
        <div class="image-container imgHide">
            <hr class="hr1" />
            <hr class="hr2" />
            <img src="~/Images//8635fdd8924cc8147a1acf51cf839324.png" class="img-fluid imgMargin" />
        </div>

        <div class="card cardfx my-5 w-75 ">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-lg-6">
                        <div style="padding-right: 50px; padding-right : 50px;padding: 1.25rem;">
                            <div class="login-logo ">
                                <img src="~/Images/8635fdd8924cc8147a1acf51cf839324.png" class="w-75" style="margin-top: 35px;" />
                                <h3 class="welcome">
                                    Welcome
                                </h3>
                            </div>
                            <p class="login-msg mb-4">Please Enter Email  & Password to Login</p>
                            <form method="post">
                                @* onsubmit="return validateForm()" *@
                                <div class="inputFieldPadding">

                                    <div class="form-group ml-2 mb-4">
                                        <label class="labelStyle ">&nbsp; Email</label>
                                        <input type="email" asp-for="Email" class="form-control shadow borderRadius welcometext" id="new_email"
                                               placeholder="Enter Email">

                                        <span asp-validation-for="Email" class="text-danger small mb-2" id="emailError"></span>
                                    </div>
                                    <div class="form-group parent mt-4 ml-2">
                                        <label for="New Password" class="labelStyle"> &nbsp; Password</label>
                                        <input type="password" asp-for="Password" class="form-control borderRadius welcometext" id="new_password"
                                               placeholder="Enter Password" required autocomplete="new-password">
                                        <div class="child">
                                            <i toggle="#new_password" class="fa fa-fw fa-eye toggle-password field-icon" style="color: #cfcdc9;"></i>

                                        </div>

                                        <span asp-validation-for="Password" class="text-danger small mb-2" id="passwordError"></span>
                                    </div>

                                </div>
                                <div class="form-group ml-2 mt-4">
                                    <div class="d-flex flex-row">
                                        <div class="col-md-6">
                                            <div class="fxt-transformY-50 fxt-transition-delay-3 remember">
                                                <div class="fxt-checkbox-area mb-4">
                                                    <div class="checkbox d-flex">
                                                        <input id="checkbox1" type="checkbox">
                                                        <label class="poppin-r checkBoxLable" for="checkbox1">Remember me</label>
                                                    </div>
                                                    <!--a href="#"
                                                       class="poppin-r switcher-text text-black" style="font-size:13px"><b>Forgot Password?</b></a-->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="fxt-transformY-50 fxt-transition-delay-3 forgotPassword">
                                                <a id="forgetpassword">Forgot Password?</a>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <br />

                                <div class="row" style="text-align:center; margin-bottom:40px;">
                                    <!-- /.col -->
                                    <div class="col-sm-12 col-md-12 d-flex justify-content-center">
                                        <button type="submit" id="btnSignin" class="btn btn-theme2 btnbutton active ">
                                            Login Now
                                       </button>
                                    </div>
                                </div>


                                @if (TempData["Error"] != null)
                                {
                                    <div class="text-danger text-center mt-3">
                                        <span>Access denied!</span>
                                        <p class=" small"> @TempData["Error"] </p>
                                    </div>
                                }
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-lg-6 imgHide">
                        <div>
                            <img src="~/Images/young-handsome-physician-medical-robe-with-stethoscope.png" class="w-100 h-100" />
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    @*
    <-- Modal ForgetPassword--> *@

    <div class="modal fade" id="forgotPasswordModal" role="dialog">
        <div id="showLoaderApi"></div>
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content p-4" style=" border-radius : 30px; ">
                <div style="float: right;">
                    <span class="close cross" id="id-close0" style="font-weight:bold;">&times;</span>
                </div>


                <div class="modal-body">
                    <div class="login-logo">
                        <span class="imgageSpan">
                            <img src="~/images/help.png" width="62" style="margin-bottom: 20px;" alt="catrings Logo" />
                        </span>

                        <h5 class="forget" style="font-family:poppinssemibold !important;">Forgot password</h5>
                    </div>

                    <p class="login-box-msg welcometext" >Enter your registered Email ID and we'll send you a link to reset your password.</p>
                    <form method="POST">
                        <div class="form-group">
                            <label class="labelStyle">&nbsp; Email</label>
                            <input type="email" class="form-control shadow borderRadius welcometext" id="forgetemail" placeholder="Your email">
                            <span class="text-danger small mb-2" id="emailError"></span>
                        </div>
                        <div class="form-group center-content " style="margin-top: 50px;">

                            <button type="button" class="poppin-r btn btn-theme2 rounded-pill " width="width : 80%" style=" width: 259px; height: 51px; font-family: 'PoppinsFont'; font-size: 17px;" onclick="sendEmail()">
                                Continue
                            </button>
                        </div>
                    </form>




                </div>
            </div>
        </div>
    </div>
    <script src="~/adminLTE/plugins/toastr/toastr.min.js"></script>
    <script src="~/adminLTE/plugins/sweetalert2/sweetalert2.min.js"></script>

    <script>

        $(document).ready(function () {

            $('#forgetpassword').click(function () {
                $('#forgotPasswordModal').modal('show');

            });
            $('#id-close0').click(function () {
                $('#forgotPasswordModal').modal('hide');

            });

            $(".toggle-password").on('click', function () {
                $(this).toggleClass("fa-eye fa-eye-slash");
                var input = $($(this).attr("toggle"));
                if (input.attr("type") == "password") {
                    input.attr("type", "text");
                } else {
                    input.attr("type", "password");
                }
            });

        });




        //     function validateForm() {
        //         var emailField = document.getElementById("new_email");
        //         var passwordField = document.getElementById("new_password");
        //         var emailError = document.getElementById("emailError");
        //         var passwordError = document.getElementById("passwordError");

        //         // Reset error messages
        //         emailError.textContent = "";
        //         passwordError.textContent = "";

        //         var emailValue = emailField.value.trim();
        //         var passwordValue = passwordField.value.trim();

        //         var isValid = true;
        //          var emailPattern = /^[a-zA-Z0-9._-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
        //         if (emailValue === "") {
        //             emailError.textContent = "Email is required";
        //             isValid = false;
        //         }

        //         else if (!emailPattern.test(emailValue)) {
        //             emailError.textContent = "Invalid email format";
        //             isValid = false;
        //         }

        //         if (passwordValue === "") {
        //             passwordError.textContent = "Password is required";
        //             isValid = false;
        //         }

        //         return isValid;
        //     }
        // $("#btnSignin").click(function () {
        //     if (validateForm()) {

        //             console.log("Form is valid");
        //             window.location.href = "/Management/Dashboard";
        //     }
        // });
        var path = window.location.pathname;

        // Check if the path matches the dashboard URL
        if (path === '/Management/Dashboard') {
            // Add the 'active' class to the button
            // document.getElementById('dashboard').classList.add('active');
            $('#dashboard').addClass('active');
        }
    </script>

    <script>

        $(document).ready(function () {
            $('#forgot-password').click(function () {
                $('#forgotPasswordModal').modal('show');
            });

            $('#btnnext').click(function () {
                $('#forgotPasswordModal').modal('show');

            });
            $('#btnback').click(function () {
                $('#forgotPasswordModal').modal('hide');

            });

        });

        //for forgot password

        const loaderDiv = document.getElementById('showLoaderApi');
        var Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 4000
        });
        function loadHttpRequest(method, url, cFunction, params) {
            loaderDiv.innerHTML = '<div class="loading">Loading&#8230;</div>';
            var xhttp;
            xhttp = new XMLHttpRequest();

            xhttp.addEventListener("load", transferComplete);
            xhttp.addEventListener("error", transferFailed);
            xhttp.addEventListener("abort", transferCanceled);

            xhttp.onreadystatechange = function () {

                if (this.readyState == 4 && this.status == 200) {
                    const objModel = JSON.parse(this.responseText);
                    if (objModel.status) {
                        cFunction(objModel.result)
                    }
                    else {
                        toastr.error(objModel.result)
                    }
                }
            };
            xhttp.open(method, url, true);
            xhttp.setRequestHeader("Content-type", "application/json");
            xhttp.send(params);
        }
        function transferComplete(evt) {
            var response = JSON.parse(evt.currentTarget.responseText);

            if (!response.status) {
                toastr.error(response.result)
            }
            else if (response.status != 200) {
                if (response.errors != null) {
                    toastr.error(JSON.stringify(response.errors));
                }

            }
            else {
                console.error("Error! ", JSON.parse(evt.currentTarget.responseText));
            }
            loaderDiv.innerHTML = '';
        }
        function transferFailed(evt) {
            console.error("transferFailed", JSON.parse(evt.currentTarget.responseText));
            var response = JSON.parse(evt.currentTarget.responseText);

            if (!response.status) {
                toastr.error(response.result)
            }
        }
        function transferCanceled(evt) {
            console.error("transferCanceled", JSON.parse(evt.currentTarget.responseText));

            var response = JSON.parse(evt.currentTarget.responseText);

            if (!response.status) {
                toastr.error(response.result)
            }
        }
        function CheckNullUndefined(value) {
            return typeof value == 'string' && !value.trim() || typeof value == 'undefined' || value === null;
        }


        function sendEmail() {
            var executeHttpRequest = true;
            var email = $("#forgetemail").val();

            var emailExp = /^(([^<>()\[\]\\.,;:\s@@"]+(\.[^<>()\[\]\\.,;:\s@@"]+)*)|(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            //check field name
            if (CheckNullUndefined(email)) {
                Toast.fire({ icon: 'warning', title: 'Email is Required' });
                executeHttpRequest = false;
            }
            else if (!email.match(emailExp)) {
                Toast.fire({ icon: 'warning', title: 'Your Email format is not correct' });
                executeHttpRequest = false;
            }
            var formData = new FormData();

            formData.append("email", email);

            if (executeHttpRequest == true) {
                loadHttpRequest("POST", '/Accounts/SendEmail?email=' + email, updateProfileHandler);
            }
        }

        function updateProfileHandler(evt) {
            Swal.fire({
                icon: 'success',
                title: 'Reset Link Sent',
                text: "password reset link is sent to the email. please check email to proceed.",
                showConfirmButton: true,
                showCancelButton: false,
            }).then(function () {
                $('#forgotPasswordModal').modal('hide');
                window.location.href = "/accounts/login";
            });
        }

    </script>
</body>



