<style>
    .modal-header div {
        margin-bottom: 10px; /* Add margin to create space between div elements */
    }

    a {
        color: #1F2D3D;
        text-decoration: none;
        background-color: transparent;
        font-family: 'Open_SansBold';
        font-size: 0.8rem;
    }

    .ellipsis-dropdown {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .ellipsis {
        font-size: 24px;
        background-color: white;
        line-height: 0.5;
        vertical-align: middle;
        transform: rotateX(180deg);
        padding-bottom: 0.7rem;
        padding-top: 0px;
    }

    .adjust {
        position: absolute;
        width: 17px;
        height: 17px;
        top: 47px;
        right: 17px;
    }

    .arrow {
        position: absolute;
        top: 71px;
        cursor: pointer;
    }

    .btn-dayOfWeek {
        height: 34px;
        font-size: 13px;
        width: 90px;
        padding: 5px;
        font-family: PoppinsFont;
        border-radius: 10px;
        color: #5F5F5F;
        background-color: #EBEBEB;
    }
        .btndayOfWeek {
        height: 34px;
        font-size: 13px;
        padding: 5px;
        font-family: PoppinsFont;
        border-radius: 10px;
        color: #5F5F5F;
        background-color: #EBEBEB;
    }

    .active-day {
        color: #010C80;
        background-color: #26BDF4;
    }

    input[type=checkbox]:checked::before {
        content: "";
        display: block;
        position: relative;
        text-align: center;
        height: 17px;
        width: 17px;
        background-color: #fff;
        color: #fff;
        font-family: "Montserrat";
        border-radius: 3px;
        border: 2px solid #77D4FC;
    }

    input[type=checkbox]:checked::after {
        content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" fill="skyBlue" viewBox="0 0 24 24"><path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/></svg>');
        display: block;
        position: relative;
        left: 3px;
        top: -20px;
    }

    input[type=checkbox] {
        accent-color: #fff;
        position: relative;
        margin-right: 10px;
        width: 16px;
        height: 16px;
        top: 3px !important;
    }
    
.modal-footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 0.75rem;
 /* border-top: 1px solid #e9ecef;*/
  border-bottom-right-radius: calc(0.3rem - 1px);
  border-bottom-left-radius: calc(0.3rem - 1px);
}

    @@media(max-width:765px) {
        input[type=checkbox]:checked::after {
            top: -18px !important;
        }
    }
        @@media(min-width:794px) {
        .widthcard {
            width: 41rem;
        }
    }
</style>

<div class="container-fluid">
    <a href="/Management/Menu" class="arrow-link">
        <i class="fa fa-arrow-left arrow" aria-hidden="true"></i>
        <h3 style="margin-left: 20px;">Menu</h3>
    </a>
    <div class="card" style="border-radius: 15px;">
        <div class="card-body" style="min-height:450px">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-md-10">
                        <h3>@TempData.Peek("companyName")</h3>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn-theme2 btnmanager1 no-wrap" style="background-color : #010C80" id="btn-add-meal">+ Add Meals</button>
                    </div>
                </div>

                <div class="row" style="margin-bottom:20px;">
                    <div class=" col-sm-12 col-md-12">
                        <button class="btn btn-dayOfWeek active-day" value="1" id="btn-1">Monday</button>
                        <button class="btn btn-dayOfWeek" value="2" id="btn-2">Tuesday</button>
                        <button class="btn btn-dayOfWeek" value="3" id="btn-3">Wednesday</button>
                        <button class="btn btn-dayOfWeek" value="4" id="btn-4">Thursday</button>
                        <button class="btn btn-dayOfWeek" value="5" id="btn-5">Friday</button>
                        <button class="btn btn-dayOfWeek" value="6" id="btn-6">Saturday</button>
                        <button class="btn btn-dayOfWeek" value="0" id="btn-7">Sunday</button>
                    </div>
                </div>

                <div id="btn-hide" class="d-none">
                    <div class="row justify-content-center align-items-center text-center " style="margin-top : 60px;">
                        <div class="col">
                            <img src="~/Images/Group 230966.png" alt="Your Image Alt Text" />
                        </div>
                    </div>
                    <div class="row justify-content-center align-items-center text-center " style="margin-top: 14px;">
                        <div class="col">
                            <h4>No Meals</h4>
                        </div>
                    </div>
                    <div class="row justify-content-center align-items-center text-center " style="margin-top: 14px;">
                        <div class="col">
                            <p>There hasn't been a particular number of meals <br /> assigned for the chosen day.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 px-4">
                        <div id="org-meals" class="row"></div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>

@*MealTypes Modal*@
<div class="modal fade" id="mealTypes-modal" role="dialog">
    <div class="modal-dialog modal-md">
        <!-- Modal content-->
        <div class="modal-content" style="border-radius: 30px;">
            <div class="modal-header pb-1">
                <div>
                    <h6 class="pt-1">Add Meals</h6>
                    <span class="text-muted">Select the types of meals you want in your menu.</span>
                </div>
                <span class="close cross" id="mealTypes-close" style="cursor : pointer;">&times;</span>
            </div>

            <div class="modal-body px-5">

                <div class="row" id="mealTypes-row-div">

                    <div class="col-md-6">
                        <div class="card bg-light">
                            <div class="card-body">
                                <input type="checkbox" id="meal-1" style="float : right;">
                                <img style="max-width:41px; height:37px" src="~/Images/lunch.png" />
                                <br />
                                <br />
                                <label for="meal-1" class="mb-0">Breakfast</label>
                                <div class="text-muted small d-none">
                                    <span class="meal-sTime">9:50 am</span> - <span class="meal-eTime">10:50 am</span>
                                </div>
                                <input type="hidden" class="meal-id" value="1" />
                                @*<input type="hidden" name="start-time" value="9:50 am"  />*@
                                @*<input type="hidden" name="end-time" value="10:00 am"  />*@
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12 d-flex justify-content-center">
                        <button type="button" id="mealTypes-save" width="width : 80%" style=" width: 200px; height: 43px; border-radius:41px; font-family: Open_SansBold;font-size: 15px; margin-top: 1rem;" class="btn btn-theme2">
                            Save
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@*Edit Meal Time Modal*@
<div class="modal fade" id="meal-time-modal" role="dialog">
    <div class="modal-dialog modal-md">
        <!-- Modal content-->
        <div class="modal-content" style="border-radius: 30px;">
            <div class="modal-header">
                <h6 class="pt-1">Edit Time</h6>
                <span class="close cross" id="close-time-modal" style="cursor : pointer;">&times;</span>
            </div>
            <div class="modal-body">
                <div class="form-row">
                    <input type="hidden" value="0" id="edit-orgMealId" />
                    <div class="form-group col-md-6">
                        <label for="edit-sTime">Start Time</label>
                        <input type="time" class="form-control" id="edit-sTime" style="height: 50px; border-radius: 7px;" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="edit-eTime">End Time</label>
                        <input type="time" class="form-control" id="edit-eTime" style="height: 50px; border-radius: 7px;" />
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col">
                        <a style="border-radius: 20px; font-size: 12px; width:10rem" onclick="updateMealTime()" class="btn btn-theme2">Update</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*Week Selection Modal*@
<div class="modal fade" id="days-modal" role="dialog">
    <input type="hidden" value="0" id="copy-orgMealId" />
    <div class="modal-dialog modal-lg  modal-dailog-centered">
        <!-- Modal content-->
        <div class="modal-content widthcard" style="border-radius: 30px;">
            <div class="modal-header pb-1 px-4">
                <div>
                    <h6 class="pt-1" style="font-family:PoppinsFontmedium; font-weight : bold;">Select Days</h6>
                    <span class="text-muted">Select the days you want to apply same meal</span>
                </div>
                <span class="close cross" data-dismiss="modal" id="mealTypes-close" style="cursor : pointer;">&times;</span>
            </div>

            <div class="modal-body px-3" style="margin-top:-25px;">
                <div class="row">
                    <div class=" col-sm-12 col-md-12" id="btndays">
                        <button class="btn btndayOfWeek width-70 mt-1" value="1" id="btnmon">Mon</button>
                        <button class="btn btndayOfWeek width-70 mt-1" value="2" id="btntue">Tue</button>
                        <button class="btn btndayOfWeek width-70 mt-1 " value="3" id="btnwed">Wed</button>
                        <button class="btn btndayOfWeek width-70 mt-1" value="4" id="btnthu">Thu</button>
                        <button class="btn btndayOfWeek width-70 mt-1" value="5" id="btnfri">Fri</button>
                        <button class="btn btndayOfWeek width-70 mt-1" value="6" id="btnsat">Sat</button>
                        <button class="btn btndayOfWeek width-70 mt-1" value="0" id="btnsun">Sun</button>
                        @*<button class="btn btndayOfWeek width-70 mt-1" value="0" id="btnsun" disabled>Sun</button>*@
                    </div>
                </div>
               

            </div>
            <div class="modal-footer px-1">
                <div class="row">
                    <div class="col-md-12  " style="float: right">
                        <button onclick="createMealCopies()" type="button" id="days-save" width="width : 80%" style=" width: 110px; height: 43px; border-radius:41px; font-family: Open_SansBold;font-size: 15px; margin-top: 1rem; float:right" class="btn btn-theme2">
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>


    $(document).ready(function () {
        $('#nav-menu').click(function () {
            $('#menu-img-white, #menu-img').toggleClass('d-none');
        });

        function getOrgMealsHandler(res) {
            $('#org-meals').empty();

            if (res != null && res.length > 0) {
                if ($("#org-meals").hasClass("row")) {
                }
                else {
                    $("#org-meals").addClass("row");
                }
                for (let orgMeal of res) {

                    $('#org-meals').append(
                        `<div class="col-md-3 orgMeal">
                            <div class="card bg-light" style="position: relative;">
                                <div class="card-body orgMeal-body pb-3">
                                    <img style="max-width:62px; height:56px; cursor:pointer;" src="${orgMeal.pictureUrl}"; />
                                    <br />
                                    <br />
                                    <label class="mb-0">${orgMeal.name}</label>
                                    <div class="ellipsis-dropdown">
                                        <span class="ellipsis btn px-1" data-toggle="dropdown">...</span>
                                        <div class="dropdown-menu" aria-labelledby="ellipsisDropdown">
                                            <a class="dropdown-item" onclick="showEditModal($(this))">Edit Time</a>
                                            <a class="dropdown-item" onclick="removeOrgMeal($(this))">Remove</a>
                                            <a class="dropdown-item" onclick="openCopymodal($(this))">Copy Meal</a>
                                        </div>
                                    </div>
                                    <div class="text-muted small time-span" >
                                        <span class="startTime">${orgMeal.startTime}</span> - <span class="endTime">${orgMeal.endTime}</span>
                                    </div>
                                    <input type="hidden" class="orgMeal-id" value="${orgMeal.id}" />
                                </div>
                            </div>
                        </div>`
                    );
                }

                $('.card .ellipsis').click(function (event) {
                    event.preventDefault(); // Prevent default action (e.g., redirection)
                    event.stopPropagation(); // Stop the event from reaching the card element

                    // Code to handle dropdown menu visibility
                    const dropdownMenu = $(this).siblings('.dropdown-menu');
                    dropdownMenu.toggleClass('show');
                });

                $('.dropdown-menu .dropdown-item').click(function (event) {
                    event.preventDefault(); // Prevent default action on dropdown items
                    event.stopPropagation(); // Stop the event from reaching the card element

                    // Add additional handling for dropdown item click here
                });

                //OrgMeal Click Feature
                $('.card .orgMeal-body').click(function () {
                    console.log('clicked');

                    //gets selected orgMeal values
                    const data = {};
                    data.orgMealId = $(this).children('input').val();
                    data.mealTypeName = $(this).children('label').text();
                    data.weekDay = $('.active-day').val();
                    data.companyId = $("#companyId").val();
                    console.log(data);

                    //send data and redirects to next page
                    $.ajax({
                        type: "POST",
                        url: "/Management/CompanyMealItemsEditInter",
                        dataType: "json",
                        contentType: "application/json",
                        processData: false,
                        data: JSON.stringify(data),
                        success: function (res) {
                            console.log(res);
                            window.location.href = "/Management/CompanyMealItemsEdit";
                        },
                        error: function (error) {
                            toastr.error("Error", error.message);
                            return error;
                        },
                    });

                });
            }
            else {
                if ($("#org-meals").hasClass("row")) {
                    $("#org-meals").removeClass("row");
                }
                else {
                }
                $("#org-meals").append(`<div class="row justify-content-center align-items-center text-center " style="margin-top : 60px;">
                                <div class="col">
                                    <img src="/Images/Group 230966.png" alt="Your Image Alt Text" />
                                </div>
                            </div>
                            <div class="row justify-content-center align-items-center text-center " style="margin-top: 14px;">
                                <div class="col">
                                    <h4 style="font-family:PoppinsFont;">No Meals</h4>
                                </div>
                            </div>
                            <div class="row justify-content-center align-items-center text-center " style="margin-top: 14px;">
                                <div class="col">
                                    <p style="font-family:PoppinsFont;color:#A9B6C9;">There hasn't been a particular number of meals <br /> assigned for the chosen day.</p>
                                </div>
                            </div>`);
            }

        }

        //get orgMeals
        $.ajax({
            type: "GET",
            url: "/Management/GetOrgMeals?weekDay=1",
            dataType: "json",
            contentType: false,
            processData: false,
            success: function (res) {
                console.log(res);

                getOrgMealsHandler(res);
            },
            error: function (error) {
                loaderdiv.innerhtml = '';
                toastr.error("Error", error.message);
                return error;
            },
        });

        $('.btndayOfWeek').click(function () {
            if($(this).hasClass('active-day')){
                $(this).removeClass('active-day');
            }
            else{
                $(this).addClass('active-day');
            }
        });

        //day select
        $('.btn-dayOfWeek').click(function () {
            $('button.active-day').removeClass('active-day')
            $(this).addClass('active-day');

            //get orgMeals by day
            let day = $(this).val();
            $.ajax({
                type: "GET",
                url: "/Management/GetOrgMeals?weekDay=" + day,
                dataType: "json",
                contentType: false,
                processData: false,
                success: function (res) {
                    console.log(res);

                    getOrgMealsHandler(res);
                },
                error: function (error) {
                    loaderdiv.innerhtml = '';
                    toastr.error("Error", error.message);
                    return error;
                },
            });
        });

        //Show MealTypes Feature
        $('#btn-add-meal').click(function () {

            //start loading
            loaderDiv.innerHTML = '<div class="loading">Loading&#8230;</div>';

            //gets mealTypes
            $.ajax({
                type: 'GET',
                url: '/Management/GetMealTypes',
                async: true,
                processData: false,
                contentType: false,
                success: function (res) {
                    console.log(res);

                    $('#mealTypes-row-div').empty();

                    if (res != null && res.length > 0) {
                        if ($("#mealTypes-row-div").hasClass("row")) {
                        }
                        else {
                            $("#mealTypes-row-div").removeClass("row");
                        }
                        for (let mealType of res) {

                            $('#mealTypes-row-div').append(
                                `<div class="col-md-6">
                                    <div class="card bg-light">
                                        <div class="card-body">
                                            <input type="checkbox" class="mealType-checkbox" id="meal-${mealType.id}" style="float : right;">
                                            <img style="max-width:41px; height:37px" src="${mealType.pictureUrl}" />
                                            <br />
                                            <br />
                                            <label for="meal-${mealType.id}" class="mb-0" title="${mealType.name}">${mealType.name.length > 15 ? `${mealType.name.slice(0, 15)}...` : mealType.name}</label>
                                            <div class="text-muted small d-none">
                                                <span class="meal-sTime">${mealType.startTime}</span> - <span class="meal-eTime">${mealType.endTime}</span>
                                            </div>
                                            <input type="hidden" class="meal-id" value="${mealType.id}" />
                                        </div>
                                    </div>
                                </div>`
                            );
                        }
                    }
                    else {
                        if ($("#mealTypes-row-div").hasClass("row")) {
                            $("#mealTypes-row-div").removeClass("row");
                        }
                        else {
                        }

                        $("mealTypes-row-div").append(`<div class="row justify-content-center align-items-center text-center " style="margin-top : 60px;">
                                <div class="col">
                                    <img src="/Images/Group 230966.png" alt="Your Image Alt Text" />
                                </div>
                            </div>
                            <div class="row justify-content-center align-items-center text-center " style="margin-top: 14px;">
                                <div class="col">
                                    <h4 style="font-family:PoppinsFont;">No Meals Found</h4>
                                </div>
                            </div>`);
                    }

                    //end loading
                    loaderDiv.innerHTML = '';

                    // add event listener to handle checkbox change
                    $('.mealType-checkbox').change(function () {
                        handleCheckboxChange($(this));
                    });

                    // function to handle checkbox changes
                    function handleCheckboxChange(checkbox) {
                        console.log('handle-checkbox');
                        if (checkbox.is(':checked')) {

                            //unchecks others
                            //$('.mealType-checkbox').not(checkbox).prop('checked', false); // Unchecks

                        }
                    }

                },
                error: function (error) {
                    return error;
                },
            });

            //shows modal
            $('#mealTypes-modal').modal('show');

        });


        //Save OrgMeal Feature
        $('#mealTypes-save').click(function () {
            const data = {};

            const mealIds = [];
            $('input:checkbox:checked').each(function () {
                mealIds.push($(this).siblings('input:hidden').val());
            });
            console.log(mealIds);

            if (mealIds.length <= 0) {
                Toast.fire({ icon: 'warning', title: 'Atleast 1 meal must be selected' });
                //executeHttpRequest = false;
                return;
            }

            data.mealTypeIds = mealIds;
            data.weekDay = $('.active-day').val();

            console.log(data);

            loadHttpRequest("POST", "/management/OrgMealCreate", saveOrgMealCallback, JSON.stringify(data));

        });

        function saveOrgMealCallback(res) {
            console.log(res);
            Swal.fire({
                title: 'Successful',
                text: 'Meal added successfully',
                icon: 'success',
                //imageUrl: '/content/dist/img/SwalSuccess.png',
                //imageAlt: 'Success Icon',
                timer: 1500,
                showCancelButton: false,
                showConfirmButton: false
            }).then(function () {
                console.log('saved');
                $('#org-meals').html("");
                if ($("#org-meals").hasClass("row")) {

                }
                else {
                    $("#org-meals").addClass("row");
                }
                for (let mealType of res) {
                    //console.log(label);
                    const card = $(
                        `<div class="col-md-3 orgMeal">
                            <div class="card bg-light" style="position: relative;">
                                <div class="card-body orgMeal-body pb-3" >
                                        <img style="max-width:62px; height:56px; cursor:pointer;" src="${mealType.pictureUrl}"; />
                                    <br />
                                    <br />
                                    <label class="mb-0">${mealType.name}</label>
                                    <div class="ellipsis-dropdown">
                                        <span class="ellipsis btn px-1" data-toggle="dropdown">...</span>
                                        <div class="dropdown-menu" aria-labelledby="ellipsisDropdown">
                                            <a class="dropdown-item" onclick="showEditModal($(this))">Edit Time </a>
                                            <a class="dropdown-item" onclick="removeOrgMeal($(this))">Remove</a>
                                            <a class="dropdown-item" onclick="openCopymodal(($this))">Copy Meal</a>
                                        </div>
                                    </div>
                                    <div class="text-muted small time-span" >
                                            <span class="startTime">${mealType.startTime}</span> - <span class="endTime">${mealType.endTime}</span>
                                    </div>
                                            <input type="hidden" class="orgMeal-id" value="${mealType.id}" />
                                </div>
                            </div>
                        </div>`
                    );

                    $('#org-meals').append(card);
                }

                //// append selected mealTypes as orgMeals
                //let label = $('input:checkbox:checked').siblings('label').text();
                //let imageUrl = $('input:checkbox:checked').siblings('img').attr('src');
                //let startTime = $('input:checkbox:checked').siblings('div').children('.meal-sTime').text();
                //let endTime = $('input:checkbox:checked').siblings('div').children('.meal-eTime').text();

                //let orgMealId = res;
                $('.card .ellipsis').click(function (event) {
                    event.preventDefault(); // Prevent default action (e.g., redirection)
                    event.stopPropagation(); // Stop the event from reaching the card element

                    // Code to handle dropdown menu visibility
                    const dropdownMenu = $(this).siblings('.dropdown-menu');
                    dropdownMenu.toggleClass('show');
                });

                $('.dropdown-menu .dropdown-item').click(function (event) {
                    event.preventDefault(); // Prevent default action on dropdown items
                    event.stopPropagation(); // Stop the event from reaching the card element

                    // Add additional handling for dropdown item click here
                });

                //OrgMeal Click Feature
                $('.card .orgMeal-body').click(function () {
                    console.log('clicked');

                    //gets selected orgMeal values
                    const data = {};
                    data.orgMealId = $(this).children('input').val();
                    data.mealTypeName = $(this).children('label').text();
                    data.weekDay = $('.active-day').val();
                    console.log(data);

                    //send data and redirects to next page
                    $.ajax({
                        type: "POST",
                        url: "/Management/CompanyMealItemsEditInter",
                        dataType: "json",
                        contentType: "application/json",
                        processData: false,
                        data: JSON.stringify(data),
                        success: function (res) {
                            console.log(res);
                            window.location.href = "/Management/CompanyMealItemsEdit";
                        },
                        error: function (error) {
                            toastr.error("Error", error.message);
                            return error;
                        },
                    });

                });

                //hide modal
                $('#mealTypes-modal').modal('hide');

            })
        }

        //close mealTypes modal
        $('#mealTypes-close').click(function () {
            $('#mealTypes-modal').modal('hide');

        });


        //closes edit Meal Time modal
        $('#close-time-modal').click(function () {
            $('#meal-time-modal').modal('hide');
        });

    });

    //Edit OrgMeal Time Feature
    function showEditModal(button) {
        //getting values from orgMeal
        let startTime = button.closest('.ellipsis-dropdown').siblings('.time-span').children('.startTime').text();
        let endTime = button.closest('.ellipsis-dropdown').siblings('.time-span').children('.endTime').text();
        let orgMealId = button.closest('.ellipsis-dropdown').siblings('.orgMeal-id').val();
        console.log(endTime);
        console.log(orgMealId);
        console.log(convertTime12to24(endTime));

        //inserting values in edit time modal
        $('#edit-sTime').val(convertTime12to24(startTime));
        $('#edit-eTime').val(convertTime12to24(endTime));
        $('#edit-orgMealId').val(orgMealId);

        $('#meal-time-modal').modal('show');

        //hides dropdown
        $('.dropdown-menu').removeClass('show');
    }

    function updateMealTime() {
        //getting values from edit time modal
        var startTime_edit = $('#edit-sTime').val();
        var endTime_edit = $('#edit-eTime').val();
        let orgMealId = $('#edit-orgMealId').val();
        let weekDay = $('.active-day').val();
        var starts = startTime_edit.split(":");
        var ends = endTime_edit.split(":");
        console.log(orgMealId);
        console.log(endTime_edit);
        console.log(convertTime24to12(endTime_edit));

        let executeHttpRequest = true;

        if (CheckNullUndefined(startTime_edit)) {
            Toast.fire({ icon: 'warning', title: 'Start Time is Required' });
            executeHttpRequest = false;
        }
        else if (starts[1] != 00 && starts[1] != 30) {
            Toast.fire({ icon: 'warning', title: 'Minute part of Start Time must be 00 or 30' });
            executeHttpRequest = false;
        }
        else if (CheckNullUndefined(endTime_edit)) {
            Toast.fire({ icon: 'warning', title: 'End Time is Required' });
            executeHttpRequest = false;
        }
        else if (ends[1] != 00 && ends[1] != 30) {
            Toast.fire({ icon: 'warning', title: 'Minute part of End Time must be 00 or 30' });
            executeHttpRequest = false;
        }
        else if (starts[0] == ends[0] && starts[1] == ends[1]) {
            Toast.fire({ icon: 'warning', title: 'Start Time and End Time cannot be same' });
            executeHttpRequest = false;
        }
        else if (startTime_edit > endTime_edit) {
            Toast.fire({ icon: 'warning', title: 'Start Time must be less than End Time' });
            executeHttpRequest = false;
        }
        if (executeHttpRequest == true) {
            var data = {};
            data.startTime = startTime_edit;
            data.endTime = endTime_edit;
            data.orgMealId = orgMealId;
            data.weekDay = weekDay;

            console.log(data);
            loadHttpRequest("POST", "/Management/EditOrgMealTime", updateTimeHandler, JSON.stringify(data));
        }

    }

    function updateTimeHandler(res) {
        console.log(res);
        Swal.fire({
            title: 'Time updated successfully',
            //imageUrl: '/content/dist/img/SwalSuccess.png',
            //imageAlt: 'Success Icon',
            icon: 'success',
            timer: 1500,
            showCancelButton: false,
            showConfirmButton: false
        }).then(function () {
            let orgMealId = res.orgMealId;

            //updates time values in orgMeal
            let startTime12h = convertTime24to12(res.startTime);
            let endTime12h = convertTime24to12(res.endTime);


            $('.orgMeal input[value=' + orgMealId + ']').siblings('.time-span').children('.startTime').text(startTime12h);
            $('.orgMeal input[value=' + orgMealId + ']').siblings('.time-span').children('.endTime').text(endTime12h);

            //hides modal
            $('#meal-time-modal').modal('hide');

            //hides dropdown
            $('.dropdown-menu').removeClass('show');
        })
    }

    //Permanent Delete Feature
    function removeOrgMeal(button) {

        let orgMealId = button.closest('.ellipsis-dropdown').siblings('.orgMeal-id').val();

        console.log('remove org meal');
        console.log(orgMealId);

        //confirmation alert
        title = '<span class="text-danger">Are you sure, you want to permanently delete this Meal?</span>';
        confirmButtonText = 'Yes, Delete it!';
        text = 'Meal will be permanently deleted along with it\'s Menu.';

        swal.fire({
            title: title,
            text: text,
            icon: 'warning',
            allowOutsideClick: false,
            showCloseButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            showCancelButton: true,
            confirmButtonText: confirmButtonText
        }).then((result) => {
            if (result.isConfirmed) {
                loadHttpRequest("POST", "/Management/DeleteOrgMeal?orgMealId=" + orgMealId, deleteCallback);
            }
        });

    }

    function deleteCallback(res) {
        console.log(res);

        Swal.fire({
            title: 'Successful',
            text: 'Meal Deleted Successfully.',
            icon: 'success',
            //imageUrl: '/content/dist/img/SwalSuccess.png',
            //imageAlt: 'Success Icon',
            timer: 1500,
            showCancelButton: false,
            showConfirmButton: false
        }).then(function () {
            let orgMealId = res;
            $('.orgMeal input[value=' + orgMealId + ']').closest('.orgMeal').remove();
        })
    }

    //Copy Modal Feature
    function openCopymodal(button) {
        console.log('openCopymodal');

        //resets butons
        $('#days-modal button.btndayOfWeek').removeClass('active-day');
        $('#days-modal button.btndayOfWeek').prop("disabled", false);

        let orgMealId = button.closest('.ellipsis-dropdown').siblings('.orgMeal-id').val();

        $('#copy-orgMealId').val(orgMealId);

        loadHttpRequest("GET", "/management/GetInvalidDays?orgMealId=" + orgMealId, openCopyCallback);        
    }

    function openCopyCallback(res){
        console.log(res);

        //disables all invalid dayOfWeek options
        for (let day of res) {
            $('#days-modal .btndayOfWeek[value=' + day + ']').prop("disabled", true);
        }              

        $("#days-modal").modal("show");
        
        //hides dropdown
        $('.dropdown-menu').removeClass('show');
    }

    function createMealCopies(){

        let orgMealId = $('#copy-orgMealId').val();

        let selectedDays = [];

        //get selected days
        $('#days-modal button.active-day').each(function () {
            selectedDays.push($(this).val());
        });

        //check
        if(selectedDays.length < 1){
            Toast.fire({ icon: 'warning', title: 'Must select atleast one day' });
            return;
        }

        var data = {};
        data.orgMealId = orgMealId;
        data.weekDays = selectedDays;

        console.log(data);
        loadHttpRequest("POST", "/Management/OrgMealCopy", createMealCopiesHandler, JSON.stringify(data));
    }


    function createMealCopiesHandler(res) {
        Swal.fire({
            title: 'Meals Created for selected days successfully',
            icon: 'success',
            //imageUrl: '/Images/Group 227317.png',
            //imageAlt: 'Custom image',
            timer: 1500,
            showCancelButton: false,
            showConfirmButton: false
        }).then(function () {
            $('#days-modal button.active-day').removeClass('active-day');
            $('#days-modal').modal('hide');

        })
    }

</script>
