<style>

    .company {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
    }

        .company img {
            max-width: 100px;
            margin-right: 10px;
        }

        .company label {
            flex-grow: 1;
        }

    .company-checkbox {
        flex-shrink: 0;
    }

    .form-control:disabled{
       background-color: #fff !important;
    }

</style>


<div class="container-fluid">
    <h3>
        <span class="vertical-line mr-2"></span>
        Users
    </h3>
    <div class="card mt-3" style="border-radius: 15px;">
        <div class="card-body">
            <div class="row">
                <div class="buttons col-sm-6 col-md-6">
                    <button class="btn btn-theme3 mt-1 btnstyle classcss selectedButton" id="btn-1" data-statusId="0">All Approved</button>
                    <button class="btn btn-theme3 mt-1 btnstyle classcss" id="btn-2" data-statusId="1">Active</button>
                    <button class="btn btn-theme3 mt-1 btnstyle classcss" id="btn-3" data-statusId="2">Block</button>
                    <button class="btn btn-theme3 mt-1 btnstyle classcss" id="btn-4" data-statusId="3" style="background:#ef2323c2; color:#fff !important;">Rejected</button>
                </div>

            </div>
        </div>
        <div class="table-responsive" style="padding:0px 25px 25px 25px;">

            <table class="table table-bordered w-100 no-wrap" id="table-users">
                <thead>
                    <tr class="table-active">
                        <th data-orderable="true">Id</th>
                        <th data-orderable="true">
                            Sr #
                        </th>
                        <th data-orderable="true">
                            Picture
                        </th>
                        <th data-orderable="true">
                            Name
                        </th>

                        <th data-orderable="true">
                            Email
                        </th>
                        <th data-orderable="true">
                            Company
                        </th>
                        <th data-orderable="true">
                            View Profile
                        </th>
                        <th data-orderable="true">
                            Date
                        </th>
                        <th data-orderable="true">Rejection Reson</thc>
                        <th data-orderable="true">
                            Status
                        </th>
                        <th data-orderable="true">
                            Action
                        </th>
                    </tr>

                </thead>
                <tbody>
                    <tr>
                        <td>
                            001
                        </td>
                        <td>
                            <img src="~/Images/Ellipse 1267.png" />
                        </td>
                        <td class="no-wrap">
                            Chef Emma Watson
                        </td>

                        <td class="no-wrap">
                            chef@gmail.com
                        </td>
                        <td class="no-wrap">
                            +92 43534534534
                        </td>
                        <td class="no-wrap">
                            <a id="company-id" href="#">Company 1</a>
                        </td>
                        <td style="text-align:center; cursor: pointer;">
                            <span class="white-eye" id="prof-Id">
                                <span class="fas fa-eye"></span>
                            </span>
                        </td>

                        <td class="no-wrap">
                            12 Aug 2023 11:00 am
                        </td>

                        <td>
                            <span class="spanGreen" id="active-id"> Active</span>
                            <span class="spanRed d-none" id="block-id"> Block</span>

                        </td>
                        <td class="no-wrap" style="text-align:center;">
                            <div class="dropdown">
                                <div class="horizontal-ellipsis">&#8942;</div>
                                <div class="dropdown-content">

                                    <a href="#" id="btn-unblock" value="unblock">Active</a>
                                    <a href="#" id="btn-block" value="block">Block</a>

                                </div>
                            </div>

                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

@* //View Profile Modal *@
<div class="modal fade" id="user-detail-modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" style="border-radius: 30px;">
            <div class="modal-header">
                <b class="modal-title" style="font-family : poppinssemibold;">User Detail</b>

                <a class="close cross" data-dismiss="modal" aria-label="Close">
                    &times;
                </a>
            </div>

            <div class="modal-body">

                <div class="login-logo" id="userImage">
                    <img src="~/Images/image_2023_08_17T13_03_37_430Z.png" style="padding : 10px;" width="150" alt="User Image">

                </div>
                <div class="row px-2 py-2" style="line-height: 2;">
                    <div class="col-md-6"><span style="font-family: PoppinsFontmedium;">Full Name</span></div>
                    <div class="col-md-6"><span style="float:right ;" class="text-muted" id="userName">John Doe</span></div>
                </div>
                <div class="row px-2 py-2" style="line-height: 2;">
                    <div class="col-md-6"><span style="font-family: PoppinsFontmedium;">Email</span></div>
                    <div class="col-md-6"><span style="float:right ;" class="text-muted" id="userEmail">Johnoe@gmail.com</span></div>
                </div>
                <div class="row px-2 py-2 d-none" style="line-height: 2;">
                    <div class="col-md-6"><span style="font-family: PoppinsFontmedium;">Phone Number</span></div>
                    <div class="col-md-6"><span style="float:right ;" class="text-muted" id="userPhone">(+92)330-1234321</span></div>
                </div>
                <div class="row px-2 py-2" style="line-height: 2;">
                    <div class="col-md-6" style="font-family:PoppinsFontmedium !important;"><span>Alergies</span></div>
                </div>

                <div id="appendallergies" class="row p-1 ml-1" style="font-family:PoppinsFontmedium !important;">
                    <span class="Alergies">&nbsp;Wheat</span>
                    <span class="Alergies">&nbsp;&nbsp;&nbsp;Gluten</span>
                    <span class="Alergies">&nbsp;&nbsp;&nbsp;Egg</span>
                    <span class="Alergies">&nbsp;&nbsp;&nbsp;Peanuts</span>

                </div>

                <br>

            </div>
        </div>
    </div>
</div>

@* //Company Modal *@
<div class="modal fade" id="company-detail-modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" style="border-radius: 30px;">
            <div class="modal-header">
                <b class="modal-title">Organization Details</b>

                <a class="close cross" data-dismiss="modal" aria-label="Close">
                    &times;
                </a>
            </div>

            <div class="modal-body p-4">

                <div class="login-logo" id="companyImage">
                    <img src="~/Images/Group 240606.png" style="padding : 10px;" width="150" alt="WarrenCatering" />

                </div>
                <p class="text-center">
                    <b id="compId" style="font-family: PoppinsFontmedium;">
                        CID1234
                    </b>

                </p>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-6"><span style="font-family: PoppinsFontmedium;">Company Name</span></div>
                    <div class="col-md-6"><span class="text-muted" style="float:right" id="companyName">Company 1</span></div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6"><span style="font-family: PoppinsFontmedium;">Unique ID</span></div>
                    <div class="col-md-6"><span class="text-muted" style="float:right" id="companyId"> CID1234</span></div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6"><span style="font-family: PoppinsFontmedium;">Email</span></div>
                    <div class="col-md-6"><span class="text-muted" style="float:right" id="companyemail">Company@gmail.com</span></div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6"><span style="font-family: PoppinsFontmedium;">Phone Number</span></div>
                    <div class="col-md-6"><span class="text-muted" style="float:right" id="companyPhone">(+92)330-1234321</span></div>

                </div>

                <br>

            </div>
        </div>
    </div>
</div>

@*Rejection Reason modal*@
<div class="modal fade" id="rejection_reason_modal" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content" style="border-radius: 30px;">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-overlay-title">Rejection Reason</h5>
                <a type="button"  data-dismiss="modal" aria-label="Close">
                    <span class="close cross" aria-hidden="true">×</span>
                </a>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <textarea class="w-100 border-0 form-control" rows="4" id="reason" style="outline-style:none" disabled></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(function () {

        var columns = [
            {
                "data": "id",
                "name": "id"
            },
            {
                "data": "id",
                "name": "id",
                "orderable": true,
                "render": function (data, type, row, meta) {
                    // Get the current page number
                    var currentPage = $('#table-users').DataTable().page.info().page;

                    // Calculate the index based on the page and row
                    var globalIndex = meta.row + currentPage * meta.settings._iDisplayLength + 1;

                    // Format the index with leading zeros (e.g., 001, 002, 003)
                    var formattedIndex = ("000" + globalIndex).slice(-3);

                    // Display the formatted index
                    return formattedIndex;
                }
            },
            {
                "data": "id",
                "name": "id",
                "render": function (data, row, payload) {
                    var imageUrl = "";
                    if (CheckNullUndefined(payload.pictureUrl)) {
                        imageUrl = "/content/dist/img/user-dummy.png";
                    }
                    else {
                        imageUrl = payload.pictureUrl;
                    }
                    return '<img class="img-circle" src = "' + imageUrl + '" style="width:35px;height:35px;">';
                }
            },
            {
                "data": "fullName",
                "name": "fullName",
                "render": function (data, row, payload) {
                    return '<span>' + data + '</span>';
                }
            },
            {
                "data": "email",
                "name": "email",
                "render": function (data, row, payload) {
                    return '<span>' + data + '</span>';
                }
            },
            {
                "data": "id",
                "name": "id",
                "render": function (data, row, payload) {
                    return `<a id="company-id" style = "color : #010C80;font-weight: 600;" data-companyId='${payload.companyId}' onclick="showCompanyModal('${payload.companyId}')">${payload.companyName}</a>`;
                }
            },
            {
                "data": "id",
                "name": "id",
                "render": function (data, row, payload) {
                    return ` <a  class="btn btn-sm btn-white-eye" style="text-align:center; cursor: pointer;" onclick="showUserDetailModal('${payload.id}')"><i class="fas fa-eye"></i> </a>`;
                }
            },
            {
                "data": "createdAt",
                "name": "createdAt",
                "render": function (data, row, payload) {
                    return '<span>' + data + '</span>';
                }
            },
            {
                "data": "rejectionReason",
                "name": "rejectionReason",
                "render": function (data, row, payload) {
                    if (payload.userStatus == 1) {
                        return `<a  data-detail="${data.replace(/"/g, '&quot;')}" title="Reason" id="rejection_reason" class="btn btn-sm btn-white-eye" style="text-align:center; cursor: pointer;"><i class="fas fa-eye"></i> </a>`;
                    }
                    else {
                        if (payload.isBlocked == false) {
                            return 'N/A';
                        }
                        else {
                            return 'N/A';
                        }
                    }
                }
            },
            {
                "data": "isBlocked",
                "name": "isBlocked",
                "render": function (data, row, payload) {
                    if (payload.userStatus == 1) {
                        return '<div style="text-align:center;"><span class="rejectedButton rounded py-1 px-2">Rejected</span></div>';
                    }
                    else {
                        if (data == false) {
                            return '<div style="text-align:center;"><span class="bg-success rounded py-1 px-2">Active</span></div>';
                        }
                        else {
                            return '<div style="text-align:center;"><span class="bg-danger rounded py-1 px-2">Blocked</span></div>';
                        }
                    }
                }
            },
            {
                "data": "id",
                "name": "id",
                "render": function (data, row, payload) {
                    if (payload.userStatus == 1) {
                        return 'N/A';
                    }
                    else {
                        if (payload.isBlocked == false) {
                            return `<div class="no-wrap"style="text-align:center;">
                                                        <div class="dropdown show">
                                                                              <a class="dropdown actionBtn" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                            <i class="fas fa-ellipsis-h"></i>
                                                                          </a>
                                                                          <div class="dropdown-menu dropopen" aria-labelledby="dropdownMenuLink">
                                                                                <a class="dropdown-item cursor-pointer" id="deleteBtn" data-userId=${data} data-status=${1}>Block</a>
                                                                          </div>
                                                                        </div>
                                                                        </div>`;
                        }
                        else {
                            return `<div class="no-wrap"style="text-align:center;">
                                                        <div class="dropdown show">
                                                                              <a class="dropdown actionBtn" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                            <i class="fas fa-ellipsis-h"></i>
                                                                          </a>
                                                                          <div class="dropdown-menu dropopen" aria-labelledby="dropdownMenuLink">
                                                                                 <a class="dropdown-item cursor-pointer" id="deleteBtn" data-userId=${data} data-status=${0}>Active</a>
                                                                          </div>
                                                                        </div>
                                                                        </div>`;
                        }
                    }
                }
            }
        ];

        var order = [[0, "desc"]];
        var columnDefs = [{
            "targets": [0,8],
            "visible": false,
            "searchable": false
        }];

        //Init General Datatable
        initGeneralDatatable('#table-users', '/pagination/getTableData/4', columns, order, columnDefs);
        //initDatatable('#table-item', '/pagination/getTableData/1', '#statusType', '#pageTitleFilter', columns, order, columnDefs);

        //status button click functionality
        $('.buttons .btn-theme3').click(function () {
            let statusId = $(this).attr('data-statusId');
            console.log(statusId);

            $('.btn-theme3').removeClass('selectedButton');
            $('.btn-theme3').removeClass('rejectedButton');
            if(statusId == 3){
                $(this).addClass('rejectedButton');
            }
            else{
                $(this).addClass('selectedButton');
            }

            if(statusId == 3){
                var columnDefs = [
                    {
                        targets: [0], // Index of the column to control
                        visible: false, // Initial visibility
                    },
                    {
                        targets: [1], // Index of the column to control
                        visible: true, // Initial visibility
                    },
                    {
                        targets: [2], // Index of the column to control
                        visible: true, // Initial visibility
                    },
                    {
                        targets: [3], // Index of the column to control
                        visible: true, // Initial visibility
                    },
                    {
                        targets: [4], // Index of the column to control
                        visible: true, // Initial visibility
                    },
                    {
                        targets: [5], // Index of the column to control
                        visible: true, // Initial visibility
                    },
                    {
                        targets: [6], // Index of the column to control
                        visible: true, // Initial visibility
                    },
                    {
                        targets: [7], // Index of the column to control
                        visible: true, // Initial visibility
                    },
                    {
                        targets: [8], // Index of the column to control
                        visible: true, // Initial visibility
                    },
                    {
                        targets: [9], // Index of the column to control
                        visible: true, // Initial visibility
                    },
                    {
                        targets: [10], // Index of the column to control
                        visible: false, // Initial visibility
                    },
                ];
                //generating table according to status
                initGeneralDatatableByStatus('#table-users', '/pagination/getTableData/4', columns, order, columnDefs, statusId);
            }
            else{
                var columnDefs = [{
                    "targets": [0, 9],
                    "visible": false,
                    "searchable": false
                }];
                //generating table according to status
                initGeneralDatatableByStatus('#table-users', '/pagination/getTableData/4', columns, order, columnDefs, statusId);
            }
        });

    });

    //Soft Delete Feature
    $('#table-users tbody').on('click', '[id*=deleteBtn]', function () {
        //Get Row Data
        var data = table.row($(this).parents('tr')).data();

        var userId = $(this).attr("data-userId");
        var status = parseInt($(this).attr("data-status"));

        var title, confirmButtonText;

        if (status == 1) {
            title = 'Are you sure, you want to block this user?';
            confirmButtonText = 'Yes, Block it!';
        }
        else {
            title = 'Are you sure, you want to unblock this user?';
            confirmButtonText = 'Yes, Unblock it!';
        }

        swal.fire({
            title: title,
            icon: 'warning',
            allowOutsideClick: false,
            showCloseButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            showCancelButton: true,
            confirmButtonText: confirmButtonText
        }).then((result) => {
            if (result.isConfirmed) {
                if (status == 1) {
                    loadHttpRequest("POST", "/Management/softDeleteUser?id=" + userId + "&isStatus=" + status, softDeleteCallback);
                }
                else {
                    loadHttpRequest("POST", "/Management/softDeleteUser?id=" + userId + "&isStatus=" + status, softDeleteCallback);
                }
            }
            else if (result.dismiss === Swal.DismissReason.cancel) {
                // Code to execute if "Cancel" is clicked
            }
        });
    });

    function softDeleteCallback(response) {
        Swal.fire({
            title: 'Successful',
            text: 'Status updated successfully.',
            icon: 'success',
            //imageUrl: '/content/dist/img/SwalSuccess.png',
            //imageAlt: 'Success Icon',
            timer: 1500,
            showCancelButton: false,
            showConfirmButton: false
        }).then(function () {
            table.draw();
        })
    }

    //Block Reason Handler
    $('#table-users tbody').on('click', '[id*=rejection_reason]', function () {
        //Get Row Data
        var data = $(this).attr("data-detail");
        $('#reason').html(data);
        $('#rejection_reason_modal').modal('show');
    });

    //show Company Feature
    function showCompanyModal(companyId) {
        $("#appendRow").html("");

        $.ajax({
            type: 'GET',
            url: '/Management/GetCompanyDetail?companyId=' + companyId,
            async: true,
            processData: false,
            contentType: false,
            success: function (res) {
                $("#companyImage").html("");
                var imageUrl = "";
                var phone = "";
                var email = "";
                var name = "";
                if (CheckNullUndefined(res.companyImage)) {
                    imageUrl = "/assets/Images/companyLogoDefault.png";
                }
                else {
                    imageUrl = res.companyImage;
                }

                if (CheckNullUndefined(res.companyPhoneNumber)) {
                    phone = "N/A";
                }
                else {
                    phone = res.companyPhoneNumber;
                }

                if (CheckNullUndefined(res.companyEmail)) {
                    email = "N/A";
                }
                else {
                    email = res.companyEmail;
                }

                if (CheckNullUndefined(res.companyName)) {
                    name = "N/A";
                }
                else {
                    name = res.companyName;
                }

                $("#companyImage").append(`<img src="${imageUrl}" style = "border-radius: 60%;width: 150px;height: 150px;" alt = "WarrenCatering" />`);
                $("#companyName").text(name);
                $('#compId').text(res.companyId);
                $("#companyId").text(res.companyId);
                $("#companyemail").text(email);
                $("#companyPhone").text(phone);
            },
            error: function (error) {
                return error;
            },
        });

        //show modal
        $("#company-detail-modal").modal("toggle");
    }

    //show User Detail Feature
    function showUserDetailModal(userId) {
        $("#appendallergies").html("");

        $.ajax({
            type: 'GET',
            url: '/Management/GetUserDetail?userId=' + userId,
            async: true,
            processData: false,
            contentType: false,
            success: function (res) {
                $("#userImage").html("");
                var imageUrl = "";
                var phone = "";
                var email = "";
                var name = "";
                if (CheckNullUndefined(res.pictureUrl)) {
                    imageUrl = "/content/dist/img/user-dummy.png";
                }
                else {
                    imageUrl = res.pictureUrl;
                }

                //if (CheckNullUndefined(res.phoneNumber)) {
                //    phone = "N/A";
                //}
                //else {
                //    phone = res.phoneNumber;
                //}

                if (CheckNullUndefined(res.email)) {
                    email = "N/A";
                }
                else {
                    email = res.email;
                }

                if (CheckNullUndefined(res.fullName)) {
                    name = "N/A";
                }
                else {
                    name = res.fullName;
                }

                $("#userImage").append(`<img src="${imageUrl}"  style = "padding : 3px; border :2px solid #a9b9c9; border-radius : 60%" width = "150" alt = "WarrenCatering" />`);
                $("#userName").text(name);
                $("#userEmail").text(email);
                //$("#userPhone").text(phone);


                if (res.allergies != null && res.allergies.length > 0) {
                    res.allergies.forEach(item => {
                        var allergy = `<span class="Alergies" style="font-family: PoppinsFontmedium;">&nbsp; ${item.name}</span>`;
                        $("#appendallergies").append(allergy);
                    });
                }
                else {
                    $("#appendallergies").append('No Allergy Found');
                }
            },
            error: function (error) {
                return error;
            },
        });

        //show modal
        $("#user-detail-modal").modal("toggle");
    }

    / script.js /
    $(document).ready(function () {
        $("#nav-community").addClass("active");
        // for changing Image of user
        $('#community-white, #community').toggleClass('d-none');

        $('#company-id').click(function () {
            $('#company1-id').modal('show');
        });
        $('#id-close4').click(function () {
            $('#company1-id').modal('hide');
        });
        //$('#close').click(function () {
        //    $('#comp-id').modal('hide');
        //});
        //$('#close-id1').click(function () {
        //    $('#id-comp1').modal('hide');
        //});
        //$('#id-close3').click(function () {
        //    $('#org-id').modal('hide');
        //});
        //$('#create-btn').click(function () {
        //    $('#btn-create').modal('show');
        //});
        $('#d-table3').DataTable();

        $(".horizontal-ellipsis").click(function () {
            $(".dropdown-content").toggle();
        });

        $(document).click(function (event) {
            if (!$(event.target).closest(".dropdown").length) {
                $(".dropdown-content").hide();
            }
        });
    });

                    //document.getElementById('btn-delete').addEventListener('click', function () {
                    //    const swalWithBootstrapButtons = Swal.mixin({
                    //        customClass: {
                    //            confirmButton: 'btn btn-success',
                    //            cancelButton: 'btn btn-danger'
                    //        },
                    //        buttonsStyling: false
                    //    });

                    //    swalWithBootstrapButtons.fire({
                    //        title: 'Delete Confirmation',
                    //        text: "Are you sure you want to delete this item?",
                    //        icon: 'warning',
                    //        showCancelButton: true,
                    //        confirmButtonText: 'Yes, delete it!',
                    //        cancelButtonText: 'Cancel',
                    //        confirmButtonColor: '#d33' // Custom confirm button color
                    //    }).then((result) => {
                    //        if (result.isConfirmed) {
                    //            // Handle delete action here
                    //            // For example: make an AJAX request to delete the item
                    //            console.log('Delete action confirmed');
                    //        }
                    //    });
                    //});

                    //$('#btn-block').click(function () {
                    //    Swal.fire({
                    //        title: 'Block!',
                    //        text: 'Are you sure you want to block the user?',
                    //        icon: 'warning',
                    //        confirmButtonText: 'OK',
                    //        showCancelButton: true,
                    //        cancelButtonText: 'Cancel'
                    //    }).then((result) => {
                    //        if (result.isConfirmed) {
                    //            // Code to execute if "OK" is clicked

                    //            $('#block-id').removeClass('d-none');

                    //            $('#active-id').addClass('d-none');
                    //            //console.log('OK button clicked');

                    //        } else if (result.dismiss === Swal.DismissReason.cancel) {
                    //            // Code to execute if "Cancel" is clicked

                    //        }
                    //    });


                    //});

                    //$('#btn-unblock').click(function () {
                    //    Swal.fire({
                    //        title: 'Active!',
                    //        text: 'Are you sure you want to unblock the user?',
                    //        icon: 'success',
                    //        confirmButtonText: 'OK',
                    //        showCancelButton: true,
                    //        cancelButtonText: 'Cancel'
                    //    }).then((result) => {
                    //        if (result.isConfirmed) {
                    //            // Code to execute if "OK" is clicked


                    //            $('#active-id').removeClass('d-none');
                    //            $('#block-id').addClass('d-none');
                    //            console.log('OK button clicked');
                    //        } else if (result.dismiss === Swal.DismissReason.cancel) {

                    //        }
                    //    });

                    //    //if ($('#ban-icon').hasClass('d-none')){
                    //    //    $('#active-icon').removeClass('d-none');
                    //    //    $('#block-span').removeClass('d-none');
                    //    //}
                    //    //else{
                    //    //    $('#ban-icon').removeClass('d-none');
                    //    //    $('#active-span').removeClass('d-none');
                    //    //}

                    //});



</script>
